@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

* {
  list-style-type: none;
}

@mixin full-page($top, $color, $bg) {
    //@extend .vert-centering;
    top: $top;
    color: $color;
    background: $bg;
}

.flex {
    display: flex;  
    align-items: center;
    justify-content: center;
}

.vert-centering {
    display: flex;
    align-items: center;
}

// ============================

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

#cover {
  position: absolute;
  top: 0; right: 0; left: 0;
  height: 60%; width: 100%;
  background: url('http://i.huffpost.com/gen/1451959/thumbs/o-TRAVELERS-facebook.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.logo {
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  color: white;
  text-align: right;
  height: 60%;
  position: absolute;

  ul {
    position: absolute;
    right: 120px;
    //top: 15%;
    //background: black;
    height: 100%;
    width: 400px;
    li {
      &:first-child {
        margin-top: 25%;
      }
      
      form {
        
      }
    }
  }
}

.middle {
  width: 80%;
}

.row {
  width: 100%;
}

.row-1 {
  position: absolute;
  @include full-page(60%, #000, #f0ad4e);
  @extend .flex;
  height: 40%;

  h2 {
    color: #fff;
    font-weight: 500;
  }
}

.row-2 {
  position: absolute;
  height: 40%;
  @include full-page(100%, black, green);
}

.box {
  text-align: center;
  height: auto;
  h2 {
    //padding: 10px 0;
  }
  p {
    font-size: 1.5em;
    width: 250px;
    margin: 0 auto;
    color: #4f4f4f;
  }

  img {
    width: 100px; height: 100px;
  }

  hr {
    width: 70%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  }
}

.footer {
  position: absolute;
  @include full-page(100%, white, #4f4f4f);
  height: auto;
}
