<div class="col-md-12">
  <h1><span class="fa fa-sign-in"></span> Add User</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Access Level</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "user in vm.users">
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.access }}</td>
          <td><a ng-click="vm.deleteUser(user)" href="">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>
  <!-- LOGIN FORM -->
  <form method="post" ng-submit="vm.addUser()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="vm.user.username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" ng-model="vm.user.password">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" ng-model="vm.user.email">
    </div>
    <div class="form-group">
      <label>User Previlege</label>
      <input type="text" class="form-control" name="access" ng-model="vm.user.access">
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Add</button>
  </form>

  <hr>
    {{ vm.user }}
</div>