<!DOCTYPE html>
<html ng-App="app">
<head>  
  <meta charset="utf-8" />
  <title>ramaibz cms</title>
  <meta name="description" content="No longer than 155 characters." />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.min.css" />
</head>
 
<body>
  <base href="/">
  <div class="fluid-container">

      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar admin">
                  <ul class="nav nav-sidebar">                
                    <li class="active"><a ui-sref="admin">Overview</a></li>
                    <% if(user.access == 0 || user.access == 1) { %>
                      <li><a ui-sref="user">User Management</a></li>
                    <% } %>
                    <li><a ui-sref="article">Content Management</a></li>
                    <li><a href="/logout" target="_self">Logout</a></li>               
                  </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
          <div class="col-sm-6">
                      <div class="well">
                          <h3><span class="fa fa-user"></span> Local</h3>
                              <p>
                                  <strong>username</strong>: <%= user.id %><br>
                                  <strong>username</strong>: <%= user.username %><br>
                                  <strong>access level</strong>: <%= user.access %>
                              </p>

                      </div>
                  </div>
          <div ui-view class="main-admin"></div>
        </div>
      </div>
  </div>
  
  <script type="text/javascript" src="/js/module.js"></script>
  <script type="text/javascript" src="/js/ngapp.js"></script>
</body>
</html>